:root {
  --background: #2e2e2e;
  --foreground: #ededed;
  --primaryColor: rgb(31, 153, 224);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.page {
  height: 100vh;
  width: 100vw;

  padding: 30px;
}

.machinesPage {
  display: flex;
  place-content: center;
  flex-direction: column;

  gap: 20px;
}
