:root {
  --background: #2e2e2e;
  --foreground: #ededed;
  --primaryColor: rgb(31, 153, 224);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.buttonPrimary {
  padding: 6px;
  border-radius: 10%;

  cursor: pointer;
  background-color: var(--primaryColor);
}

.buttonPrimary:hover {
  opacity: 0.9;
}

.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: white;
  color: var(--background);
  min-width: 300px;

  border: 3px solid black;
  border-radius: 12px;

  z-index: 10000;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 10px;

  font-size: 20px;
}

.modalClose {
  cursor: pointer;
  font-size: 22px;
  font-weight: bold;
}

.modalContent {
  padding: 10px 15px;
  font-size: 18px;
  line-height: 1.4;
}

.headerContainer {
  height: 50px;
  background-color: blue;

  display: flex;
  gap: 3px;
}

.headerChild {
  background-color: blue;
  height: 100%;
  padding: 5;

  display: flex;
  justify-content: center;
  align-items: center;
}

.headerChild:hover:not(.selectedHeaderChild) {
  background-color: cadetblue;
  cursor: pointer;
}
.selectedHeaderChild {
  background-color: cadetblue;
}

.headerChild span {
  font-size: 20px;
  font-weight: 500;
}

.accountHeaderChild {
  background-color: blue;
  margin-left: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  height: 100vh;
  width: 100vw;

  padding: 30px;
}

.machinesPage {
  display: flex;
  place-content: center;
  flex-direction: column;

  gap: 20px;
}

.machinesTable {
  place-self: center;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.machinesTableHeaderContainer {
  background-color: #575757;
  height: 40px;
  font-size: 18px;
}

.machinesTableHeaderCell {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.machinesTableHeaderText {
  padding-right: 20px;
}

.machinesTableHeaderIcon {
  position: absolute;
  right: 7px;
  font-size: 20px;
}

.machinesTable tr th {
  padding: 10px;
}

.machinesTableBodyContainer {
  background-color: #444444;
}

.machinesTableBodyContainer:nth-child(even) {
  background-color: #575757;
}

.machinesTable tbody tr th {
  font-weight: 500;
  font-size: 16px;
}

.machinesPageAddButon {
  float: right;
  font-size: 18px;
  color: #ededed;
}

.machineFileUpload {
  background-color: #dbedee;
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;

  width: 450px;
  height: 300px;
  place-content: center;
  display: grid;
}

.fileInput {
  position: absolute;
  width: inherit;
  height: inherit;
  opacity: 0;
  cursor: pointer;
  z-index: 2;
}
