:root {
  --background: #2e2e2e;
  --foreground: #ededed;
  --primaryColor: rgb(31, 153, 224);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.buttonPrimary {
  padding: 6px;
  border-radius: 10%;

  cursor: pointer;
  background-color: var(--primaryColor);
}

.buttonPrimary:hover {
  opacity: 0.9;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  outline: 0;
}

.headerContainer {
  height: 50px;
  background-color: blue;

  display: flex;
  gap: 3px;
}

.headerChild {
  background-color: blue;
  height: 100%;
  padding: 5;

  display: flex;
  justify-content: center;
  align-items: center;
}

.headerChild:hover:not(.selectedHeaderChild) {
  background-color: cadetblue;
  cursor: pointer;
}
.selectedHeaderChild {
  background-color: cadetblue;
}

.headerChild span {
  font-size: 20px;
  font-weight: 500;
}

.accountHeaderChild {
  background-color: blue;
  margin-left: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
  height: 100vh;
  width: 100vw;

  padding: 30px;
}

.machinesPage {
  display: flex;
  place-content: center;
  flex-direction: column;

  gap: 20px;
}

.machinesTable {
  place-self: center;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.machinesTableHeaderContainer {
  background-color: #575757;
  height: 40px;
  font-size: 18px;
}

.machinesTableHeaderCell {
  position: relative;
  cursor: pointer;
  user-select: none;
}

.machinesTableHeaderText {
  padding-right: 20px;
}

.machinesTableHeaderIcon {
  position: absolute;
  right: 7px;
  font-size: 20px;
}

.machinesTable tr th {
  padding: 10px;
}

.machinesTableBodyContainer {
  background-color: #444444;
}

.machinesTableBodyContainer:nth-child(even) {
  background-color: #575757;
}

.machinesTable tbody tr th {
  font-weight: 500;
  font-size: 16px;
}

.machinesPageAddButon {
  float: right;
  font-size: 18px;
  color: #ededed;
}

.machineFileUploadContainer {
  width: 70%;
  height: 50%;
}

.machineFileUpload {
  width: 100%;
  height: 100%;
}

.machineFileUpload input[type="file"] {
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;

  display: none;
}
